.title-date {
	margin-top: -20px;
	font-size: 2em;
}

.donation-head {
	margin-top: 2em;
	font-size: 2.5em;

	vertical-align: middle;

	.donation-amount span {
		font-size: 1.4em;
		display: block;
		margin-bottom: .5em;
	}
}

.donation {
	margin-top: 2em;
	font-size: 2.5em;

	vertical-align: middle;

	.donation-amount span {
		font-size: 1.4em;
		display: block;
		margin-bottom: .5em;
	}

	button.button {
		font-size: 2rem;
		margin-top: 1.4em;
	}

	.goals {
		padding-top: 2em;
		p {
			font-size: .65em;
			position: relative;
			top: -.3em;
		}

		ul.progress-goals {
			margin: 0;
			min-height: 3.5em;

			li {
				position: absolute;
				text-align: left;
				width: 20rem;

				&:before {
					content: '';
					height: .6em;
					border-left: solid 1px #fff;

					position: absolute;
					top: -.4em;
				}

				&.right-tick:before {
					left: 99%;
				}

				&:not(:first-child) h4 span.fa {
					display: none;
				}

				&:first-child {
					> span {
						display: none;
					}

					aside {
						display: block;

						h4 span.fa {
							display: inline-block;
							margin-left: .6em;
						}
						p {
							font-size: .6em;
						}
					}
				}

				> span {
					display: inline-block;
					position: absolute;
					top: .35em;
					left: -0.23em;

					width: 8px;
					height: 8px;
					margin: 5px;

					background-color: #fff;

					cursor: pointer;

					$goal-dot-trans: .12s ease-in;
					$goal-dot-trans-out: .18s ease-in;

					&:before {
						content: '';
						position: absolute;

						left: -5px;
						top: -5px;

						width: 18px;
						height: 18px;

						border: solid white 1px;

						transition:
							border-color $goal-dot-trans-out,
							left $goal-dot-trans-out, top $goal-dot-trans-out,
							width $goal-dot-trans-out, height $goal-dot-trans-out,
							transform $goal-dot-trans-out;
					}

					&:hover:before {
						border-color: transparent;

						left: -26px;
						top: -26px;

						width: 60px;
						height: 60px;

						transition:
							border-color $goal-dot-trans,
							left $goal-dot-trans, top $goal-dot-trans,
							width $goal-dot-trans, height $goal-dot-trans,
							transform $goal-dot-trans;
					}
				}

				aside {
					display: none;

					h4 {
						font-size: .8em;
					}
					p {
						font-size: .55em;
					}

					&.is-active {
						display: block;
						position: absolute;

						left: -.22em;
						top: .86em;

						z-index: 10000;

						color: #222;

						background: $primary;
						border: solid 1px #fff;
						padding: 5px;

						div {
							padding: .3em .6em;
							background-color: #fff;
						}
					}
				}

				&:nth-child(2n) {
					&:before {
						top: -1.8em;
					}

					> span {
						top: -2.58em;
					}

					aside.is-active {
						top: -2.09em;
						left: -.22em;
					}
				}

				&.right-tick {
					left: -20rem;
					text-align: right;

					> span {
						left: unset;
						right: -.2em;
					}

					aside.is-active {
						left: unset;
						right: -.21em;
						div {
							padding: .3em .6em;
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}

.hero-head {
	background-color: lighten($primary, 5%);

	header {
		.navbar-brand {
			font-size: 2.5em;

			img.navbar-brand-logo {
				height: 1.6em;
				max-height: 2em; // Required because Bulma sets a max-height
			}
		}

		.kubithon-chapo {
			color: #111;
			font-style: italic;
			font-size: 1.1em;
			font-weight: bold;

			text-align: right;
		}
	}
}

.hero-foot.kubithon-home-foot {
	padding-top: 0;
	padding-bottom: .3em;
	margin-bottom: 0;

	color: #fff;
	background-color: $join-links-color;

	.columns {
		margin-top: -1rem;

		a.column {
			padding-top: 2.6rem;
			color: #fff;
		}
	}

	.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
		background-color: $join-links-color;
		top: 57%;
	}
	.is-divider-vertical::before {
		bottom: 0;
	}
}
