$primary: #128292;
$page-background: #242423;

$family-sans-serif: 'Raleway', $family-sans-serif;

$body-size: 14px;

$title-size: 8rem;
$title-weight: $weight-light;
$title-font: 'Raleway';

$divider-word-background-color: $primary;
$divider-color: $white;
$divider-background-color: rgba(256, 256, 256, .4);
$divider-font-size: 1.4rem;

$subtitle-size: 3rem;



$join-links-color: darken($primary, 28%);

$fa-font-path: '../fonts';
